[Unit]
Description={{ restic_job_description }}

[Service]
Type=oneshot
User={{ restic_systemd_user }}
WorkingDirectory={{ restic_systemd_working_directory }}
SyslogIdentifier={{ restic_systemd_syslog_identifier }}

{% for item in restic_systemd_environment | dict2items %}
Environment={{ item.key }}={{ item.value }}
{% endfor %}

ExecStartPre=-/bin/sh -c '{{ restic_binary }} snapshots || {{ restic_binary }} init'
{% for commands in restic_backup_commands %}
ExecStart=/bin/sh -c '{{ commands.command }} | {{ restic_binary }} backup --verbose --stdin --stdin-filename {{ commands.filename }}'
{% endfor %}

{% if restic_backup_paths | length > 0 %}
ExecStart={{ restic_binary }} backup {{ restic_backup_paths | join(' ') }}{% if restic_backup_parameters | length > 0 %} \
    {% for param in restic_backup_parameters | dict2items %}
      {%- set outer_loop = loop %}
      {%- if param.value is not string and param.value is not mapping and param.value is iterable -%}
        {%- for item in param.value -%}
    --{{ param.key }}={{ item }}{% if not loop.last %} \
    {% endif -%}
        {%- endfor -%}
      {%- else -%}
    --{{ param.key }}{% if param.value %}={{ param.value }}{% endif %}
      {%- endif %}
      {%- if not outer_loop.last %} \{% endif %}

    {% endfor -%}
{% endif %}
{% endif %}

ExecStartPost=-{{ restic_binary }} snapshots
ExecStartPost={{ restic_binary }} check

[Install]
WantedBy=multi-user.target
